header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--third);
    padding: 20px ;
}
.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}


